@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --main-font: Roboto, "sans-serif";
  --reference-size: 16px;
  --light-color: #fff;
  --light-grey: #aaa;
  --dark-grey: #222;
  --dark: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--main-font);
  color: var(--dark);
}

.router_link {
  text-decoration: none;
  color: inherit;
}
