.modal_cnt {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: calc(2 * var(--reference-size));
  background-color: var(--light-color);
  box-shadow: 4px 4px 15px var(--contrast-color);
  border-radius: 10px;
}

.modalButtons_cnt {
  display: flex;
  justify-content: flex-end;
}

.modalButtons_cnt .modalButton {
  margin: var(--reference-size);
}

.modalButtons_cnt .modalButton:first-of-type {
  background-color: var(--dark);
  color: var(--light-color);
  border: none;
  transition: ease-in-out 0.2s;
}

.modalButtons_cnt .modalButton:nth-of-type(2) {
  background-color: rgb(153, 35, 35);
  color: var(--light-color);
  transition: ease-in-out 0.2s;
}

.modalButtons_cnt .modalButton:nth-of-type(2):hover {
  background-color: var(--contrast-color);
  box-shadow: 0px 0px 5px var(--dark);
}

.modalButtons_cnt .modalButton:first-of-type:hover {
  background-color: var(--light-color);
  color: var(--dark);
  box-shadow: 0px 0px 5px var(--dark);
}

.modalText {
  text-align: center;
  font-size: calc(1.125 * var(--reference-size));
  padding: var(--reference-size);
  color: var(--contrast-color);
  font-weight: 700;
  margin: calc(2 * var(--reference-size)) 0;
}
